# Virtual Environments
venv/
.venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# IDEs and Editors
.vscode/
.idea/

# Environment Variables
.env